***LOOP***

In [ ]:
l = [1,2,3,4,5,6]
#for variable in l:

In [1]:
l = [1,2,3,4,5,6]
for i in l:
    print(i)

1
2
3
4
5
6

In [2]:
i

6

In [3]:
g = ["a","b","c","d","e",True]
for f in g:
    print(f)

a
b
c
d
e
True

In [4]:
#extract those element which is more than 5
w = [1,4,7,8,9,6,3,2,5,4,6,3,2,5]
for j in w:
    if j>5:
        print(j)

7
8
9
6
6

In [5]:
# extract even elements from the list
w = [1,4,7,8,9,6,3,2,5,4,6,3,2,5]
for j in w:
    if j%2==0:
        print(j)

4
8
6
2
4
6
2

In [8]:
# extract elements between 3 and 7
w = [1,4,7,8,9,6,3,2,5,4,6,3,2,5]
for j in w:
    if j>3 and j<7:
        print(j)

4
6
5
4
6
5

In [9]:
# calculate the square of even elements
w = [1,4,7,8,9,6,3,2,5,4,6,3,2,5]
for j in w:
    if j%2==0:
        print(j**2)

16
64
36
4
16
36
4

In [13]:
# print those name which starts with "a"
name = ["rohan","abhiniza","robin","karan","aman","pankaj","aastha"]
for j in name:
    if j[0]=="a":        # if j.startswith("a")
        print(j)

abhiniza
aman
aastha

In [14]:
# print those name which ends with "a"
name = ["rohan","abhiniza","robin","karan","aman","pankaj","aastha"]
for j in name:
    if j.endswith("a"):
        print(j)

abhiniza
aastha

In [16]:
# print 1st 4 letters of all names
name = ["rohan","abhiniza","robin","karan","aman","pankaj","aastha"]
for j in name:
        print(j[0:4])

roha
abhi
robi
kara
aman
pank
aast

In [17]:
#print all leap years
year = [2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010]
for i in year:
    if i%4==0 and i%100!=0 or i%400==0:
        print(i)

2000
2004
2008

In [1]:
# interview question
# print the 2nd highest element
s = [4,7,8,5,2,3,6,9,6,5,6,3,2]
s.sort()
s[-2]

8

In [4]:
s = [4,7,8,5,2,3,6,9,6,5,6,3,2,9]
s.sort()
s
index= -2
for i in s:
    if s[index]==max(s):
        index-=1
        print(s[index])

8

In [5]:
s = [4,7,8,5,2,3,6,9,6,5,6,3,2,9,9,9,9,9,9]
s.sort()
second_element = 0
for i in s:
    if i>min(s) and i<max(s):
        second_element = i
        print(second_element)

3
3
4
5
5
6
6
6
7
8

In [6]:
s = "hello how are you i am fine what about you"
for i in s.split():
    print(i)

hello
how
are
you
i
am
fine
what
about
you

In [13]:
#count those words that starts with h
s = "hello how are you i am fine what about you"
h = []
for i in s.split():
    if i[0]=="h":
        h.append(i)
print(len(h))

2

***RANGE***

In [ ]:
range(start,stop,step)

In [15]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [16]:
for i in range(5,1,-1):
    print(i)

5
4
3
2

In [17]:
# print all even numbers between 10 and 50
for j in range(10,30,2):
    print(j)

10
12
14
16
18
20
22
24
26
28

In [18]:
# print those digits where ist one is 5 between 10 to 100
for h in range(10,100):
    if h%10==5:
        print(h)

15
25
35
45
55
65
75
85
95

In [21]:
#print the table of 2
for i in range(2,21,2):
    print("{} x {} = {}".format(2,round(i/2),i))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [23]:
#print the table of 3
n = 3
for i in range(1,11):
    print("{} x {} = {}".format(n,i,n*i))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [27]:
#interview question
# create 2 list and add even and odd digit in both list between 10 and 50
even = []
odd = []
for i in range(10,50):
    if i%2==0:
        even.append(i)
    elif i%2!=0:
        odd.append(i)
print(even)
print(odd)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
[11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

**STAR PATTERN**

In [28]:
for i in range(1,5):

*
* *
* * *
* * * *

In [29]:
for i in range(1,5):
    print("* "*4)

* * * *
* * * *
* * * *
* * * *

In [30]:
n = int(input())
for i in range(n):
    print("*"*n)

 8

********
********
********
********
********
********
********
********

In [1]:
for i in range(6,0,-1):
    print(i*"* ")

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [7]:
for i in range(6,0,-1):
    print(i*"mann*vanshu ")

mann*vanshu mann*vanshu mann*vanshu mann*vanshu mann*vanshu mann*vanshu
mann*vanshu mann*vanshu mann*vanshu mann*vanshu mann*vanshu
mann*vanshu mann*vanshu mann*vanshu mann*vanshu
mann*vanshu mann*vanshu mann*vanshu
mann*vanshu mann*vanshu
mann*vanshu

In [4]:
for i in range(5):
    print("* ")

*
*
*
*
*

In [8]:
for i in range(5):
    print(i,end=" ")

0 1 2 3 4

In [9]:
print("hello",end=" ")
print("SAM")

hello SAM

**NESTED LOOP**

In [10]:
f = [1,2]
h = [9,10,11,12,13]
for i in f:
    for j in h:
        print(j*i)

9
10
11
12
13
18
20
22
24
26

In [12]:
g = [1,2,3,4,5,6]
for i in g:
    for j in g:
        print(j,end=" ")
    print()

1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6

In [15]:
for i in range(1,6):
    for j in range(1,6):
        if j>=6-i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [17]:
for i in range(1,6):
    for j in range(1,6):
        if j>=i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [45]:
for i in range(1,5):
    for j in range(1,8):
        if j>=i and j<=8-i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * * * *
  * * * * *
    * * *
      *

In [46]:
for i in range(1,6):
    for j in range(1,6):
        if j<=6-i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [51]:
for i in range(1,5):
    for j in range(1,5):
        if j<=i and j<=5+i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

*
* *
* * *
* * * *

In [57]:
for i in range(1,5):
    for j in range(1,8):
        if j<=5+i and j>=3-i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

  * * * * *
* * * * * * *
* * * * * * *
* * * * * * *

In [70]:
for i in range(1,5):
    for j in range(1,8):
        if j<=5-i or j>=3+i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * * * *
* * *   * * *
* *       * *
*           *

In [8]:
i =3

In [9]:
i**(1/2)==int(i**(1/2))

False

In [5]:
int(i**(1/2))

1